.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-size: var(--font-mono);
}

.description{
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.grid{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.button{
  background-color: #000;
  color: rgb(227, 227, 227);
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  width: 10rem;
  height: 3rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color .2s;
}
.button:hover{
  background-color: #fff;
  color: #000;
}
.grid h1{
  margin:0 10px;
  font-size: 70px;
}
@media (min-width: 768px){
  .description{
    max-width: 700px;
  }
}

/* Enable hover only on non-touch devices */
